
/*
================================
CUSTOM COLOR PROPERTIES
================================
*/
:root {
    --link-hover-color:             #7DB9DE;
    --dropdown-menu-bg-color:       #333;
    --service-bg-color:             #0096FF;
    --news-color:                   #cff7ff;
    --news-bg-color:                #FEFBE6;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}


/*
====================
OVERALL
====================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 設定所有元素的 box-sizing 為 border-box，包含 padding 和 border 在內 */
}

body {
    width: 100vw;
    font-family: 'Impact', fantasy; /* 設定全局字體 */
    background-color: #f4f4f4; /* 設定背景顏色 */
    color: #333; /* 設定文字顏色 */
    display: flex; /* 使用flex佈局 */
    flex-direction: column; /* 垂直排列子元素 */
    min-height: 100vh; /* 保證頁面高度至少為視窗高度 */
}

.main-content {
    flex: 1; /* 使主內容區域擴展以填滿剩餘空間 */
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*
====================
NAVBAR
====================
*/
.navbar {
    padding: 0px 5px;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px;
    margin-bottom: 20px;
}

.navbar-logo {
    height: 100%; /* 確保 logo 容器高度佔滿父元素 */
    display: flex; /* 使用彈性佈局 */
    align-items: center; /* 垂直居中對齊 */
    overflow: hidden; /* 確保內容不會超出容器 */
}

.navbar-logo .navbar-logo-image {
    height: 100%;
    width: 300px; 
    object-fit: contain; /* 確保圖片內容完整顯示 */
    padding: 0; /* 移除內邊距 */
    opacity: 0; /* 預設透明度為 0，隱藏 logo */
    visibility: hidden; /* 預設為隱藏 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 添加透明度和可見度變化的過渡效果 */
}

#header-logo {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.navbar.scrolled {
    background-color: white; /* 滾動後的背景顏色為白色 */
    color: black; /* 滾動後的文字顏色為黑色 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 滾動後加強陰影效果 */
    animation: shadowPulse 0.5s ease; /* 添加殘影動畫 */
}

/* 殘影動畫效果 */
@keyframes shadowPulse {
    0% {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
}

.navbar-nav .nav-link {
    color: black;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Navbar選單 */
.navbar-nav .nav-link {
    display: inline-block;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}
 
.navbar-nav .nav-link:hover {
    color: var(--link-hover-color);
}
  
.navbar .dropdown-menu {
    background: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border: 0;
    display: inherit;
    opacity: 0;
    min-width: 9rem;
    margin-top: 0; /* 調整為 0，確保與 Product 對齊 */
    padding: 13px 0 10px 0;
    transition: all 0.3s;
    pointer-events: none;
    top: 60px; 
    left: 0;/* 確保下拉菜單與觸發按鈕對齊 */
}
  
.navbar .dropdown-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -10px;
    left: 10px;
}
  
.navbar .dropdown-item {
    display: inline-block;
    color: black;
    font-size: 18px;
    position: relative;
}

.navbar-nav .nav-item:last-child {
    margin-right: 20px; 
 }
  
.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
    background: transparent;
    color: var(--link-hover-color);
}
  
.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 35px;
    outline: none;
  }

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* 漢堡菜單的中間那橫線 */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
} 

.navbar-toggler .navbar-toggler-icon {
    background: black;
    transition: background 10ms 300ms ease;
    display: block;
    width: 35px;
    height: 3.3px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: black;
    width: 35px;
    height: 4px;
    content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}

/* 動畫效果 */
@keyframes navLinkFade {
    from {
        opacity: 0; /* 初始透明度為0 */
        transform: translateX(-50px); /* 初始位置偏移50px */
    }
    to {
        opacity: 1; /* 最終透明度為1 */
        transform: translateX(0); /* 最終位置回到原點 */
    }
}

/* 響應式設計 */
@media screen and (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      opacity: 1;
      margin-top: 0;
      pointer-events: auto; 
    }
}
  
@media screen and (max-width: 992px) {
    .navbar .dropdown-menu {
      display: none;
    }
  
    .navbar .dropdown-menu::before {
    display: none;
    }
  
    .navbar .dropdown:hover .dropdown-menu {
    display: block; /* 當滑鼠懸停時顯示dropdown menu 
    */
    }
  
    .navbar .dropdown-item.active, 
    .navbar .dropdown-item:active,
    .navbar .dropdown-item:focus, 
    .navbar .dropdown-item:hover {
    background: transparent;
    color: var(--link-hover-color);
    text-decoration: underline;
    }
    
    /* Dropdown Menu背景 */
    .navbar .dropdown:hover .dropdown-menu {
        background: var(--dropdown-menu-bg-color);
        box-shadow: none; 
        opacity: 1; /* 確保可見 */
        pointer-events: auto; /* 確保可點擊 */
        margin-top: -20px; 
    }

    .navbar .dropdown-item {
        display: inline-block;
        color: white;
        font-size: 18px;
        position: relative;
    }

    .navbar-nav {
        background-color: var(--dropdown-menu-bg-color);
        text-align: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: white;
    }

    .navbar-nav .nav-item {
        float: none;
        display: inline-block;
    }

    /* 對齊 dropdown menu 與 Product */
    .navbar .dropdown-menu {
    position: static;
    transform: none;
    }

    .navbar .dropdown-item {
        text-align: center;
    }

    .navbar .dropdown-menu::before {
        left: auto;
        transform: none;
    }

    /* 使 logo 在頁面縮小後居中顯示 */
    .navbar .navbar-logo {
        justify-content: center; /* 水平居中對齊 */
    }

    .navbar .navbar-logo .navbar-logo-image {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}



/* 
====================
Main Section 
====================
*/
.main-section {
    position: relative; /* 使這個 section 內的元素可以使用絕對定位 */
    width: 100%; /* 設置寬度為 100% */
    height: 100vh; /* 設置高度為視窗高度的 100% */
    display: flex; /* 使用彈性佈局 */
    justify-content: center; /* 水平居中對齊 */
    align-items: center; /* 垂直居中對齊 */
    text-align: center; /* 文字居中對齊 */
    overflow: hidden; /* 確保內容不會超出容器 */
}

/* 設置視頻背景樣式 */
#bg-video {
    position: absolute; /* 絕對定位 */
    top: 0; /* 距離頂部 0 */
    left: 0; /* 距離左側 0 */
    width: 100%; /* 設置寬度為 100% */
    height: 100%; /* 設置高度為 100% */
    object-fit: cover; /* 確保視頻覆蓋整個容器 */
    opacity: 0.5; /* 設置透明度為 0.5 */
    z-index: 1; /* 設置層級，使其在 content 之下 */
}

/* 內容容器 */
.main-section .content {
    position: relative; /* 相對定位，確保視頻在後面 */
    color: white; /* 設置文字顏色為白色 */
    z-index: 2; /* 設置層級，使其顯示在視頻之上 */
}
/* 主標題樣式 */
.main-section .content h1 {
    font-size: 2em; /* 設置字體大小為 2 倍的默認大小 */
    margin-bottom: 0.5em; /* 設置底部外邊距為 0.5em */
}

/* 副標題樣式 */
.main-section .content h2 {
    font-size: 4em; /* 設置字體大小為 4 倍的默認大小，增大字體 */
    margin-bottom: 0.5em; /* 設置底部外邊距為 0.5em */
    font-family: 'Impact', fantasy; /* 設置字體 */
    color: #ffffff; /* 設置文字顏色為白色 */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* 添加陰影效果，增加藝術感 */
    text-transform: uppercase; /* 設置字母大寫 */
    letter-spacing: 2px; /* 增加字母間距 */
    display: inline-block; /* 使底部邊框不影響行高 */
    position: relative; /* 為子元素提供相對定位 */
}

/* 添加底部藍色線條 */
.main-section .content h2::after {
    content: ''; /* 添加空內容 */
    display: block; /* 設置為塊級元素 */
    width: 200px; /* 設置線條寬度，這裡你可以調整為需要的寬度 */
    height: 3px; /* 設置線條高度為 3px */
    background-color: #1E88A8; /* 設置線條顏色 */
    position: absolute; /* 絕對定位 */
    bottom: -10px; /* 距離底部10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中對齊 */
}


/* 描述文字樣式 */
.main-section .content p {
    font-size: 1.2em; /* 設置字體大小為 1.2 倍的默認大小 */
    margin-bottom: 1.5em; /* 設置底部外邊距為 1.5em */
    color: #ffffff;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .main-section .content p {
        font-size: 0.8em; /* 當螢幕寬度小於 768px 時，設置字體大小為 0.8 倍的默認大小 */
    }
}

/* 滾動提示容器 */
.main-section .scroll-down {
    position: absolute; /* 絕對定位 */
    bottom: 40px; /* 距離底部 40px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
}

/* 滾動提示容器 */
.main-section .scroll-down {
    position: absolute; /* 絕對定位 */
    bottom: 80px; /* 將距離底部的距離從40px改為80px，使其上移 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
    z-index: 2; /* 確保顯示在 overlay 之上 */
}

/* 滾動提示樣式 */
.main-section .scroll-down span {
    display: block; /* 設置為塊級元素 */
    width: 30px; /* 設置寬度為 30px */
    height: 50px; /* 設置高度為 50px */
    border: 2px solid white; /* 設置白色邊框，寬度為 2px */
    border-radius: 50px; /* 設置邊框圓角，半徑為 50px */
    position: relative; /* 相對定位，用於內部元素的定位 */
    animation: scroll 2s infinite; /* 添加滾動動畫，持續時間 2 秒，無限循環 */
}

/* 滾動提示內部小圓點樣式 */
.main-section .scroll-down span::before {
    content: ''; /* 添加空內容 */
    display: block; /* 設置為塊級元素 */
    width: 8px; /* 設置寬度為 8px */
    height: 8px; /* 設置高度為 8px */
    background: white; /* 設置背景顏色為白色 */
    border-radius: 50%; /* 設置圓角，形成圓形 */
    position: absolute; /* 絕對定位 */
    bottom: 10px; /* 距離底部 10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
    animation: scroll-inner 2s infinite; /* 添加內部滾動動畫，持續時間 2 秒，無限循環 */
}


/* 滾動動畫的關鍵幀 */
@keyframes scroll {
    0% {
        opacity: 1; /* 初始透明度為 1 */
    }
    100% {
        opacity: 0; /* 最終透明度為 0 */
    }
}

/* 滾動提示內部小圓點的關鍵幀 */
@keyframes scroll-inner {
    0% {
        bottom: 10px; /* 初始位置距離底部 10px */
        opacity: 1; /* 初始透明度為 1 */
    }
    100% {
        bottom: 35px; /* 最終位置距離底部 35px */
        opacity: 0; /* 最終透明度為 0 */
    }
}


/*
====================
Overivew
====================
*/
/* 設定 container部份含上圓弧 */
.container-fluid {
    position: relative;
    z-index: 2;
    background: white;
}

/* 設計上圓弧 */
.overview-section::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    border-top-left-radius: 20% 50px;
    border-top-right-radius: 20% 50px;
    z-index: 1;
}

.overview-section {
    margin-top: -5px;
    padding-top: 100px;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); 
    animation: arcShadow 2s infinite;
}

/* 圓弧陰影動畫 */
@keyframes arcShadow {
    0% {
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); /* 初始陰影 */
    }
    50% {
        box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.3); /* 中間陰影 */
    }
    100% {
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); /* 最終陰影 */
    }
}

.section-title h1 {
    margin-top: -20px; /* Adjust the value as needed */
    position: relative;
    top: -30px; /* Further adjust the position of the text */
}

#overview-filters {
    margin-top: -40px; /* 把按鈕也往上移 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ISOTOPE 內容 */
#overview-filters li {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: 2px solid black; /* 外框颜色 */
    border-radius: 50px; /* 橢圓形外框 */
    white-space: nowrap; /* 禁止text wrap */
    font-size: 18px; /*設定一個尺寸 */
    padding: 10px 15px; /* 增加PADDING */
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}

#overview-filters li.active,
#overview-filters li:hover {
    background-color: white; /* 滑鼠停在按鈕上的背景颜色 */
    color: var(--link-hover-color); /* 滑鼠停在按鈕上的文字颜色 */
}

.text-primary {
    font-size: 40px;
}

.overview-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: .5s;
}

.overview-item:hover img {
    transform: scale(1.1);
}

.overview-item .overview-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, 0.7);
    transition: .5s;
}

.overview-item:hover .overview-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.overview-item .overview-overlay .btn {
    opacity: 0;
}

.overview-item:hover .overview-overlay .btn {
    opacity: 1;
}

.overview-item {
    width: calc(33.333% - 20px); /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
}

@media (max-width: 992px) {
    .overview-item {
        width: calc(50% - 20px); /* Adjust for smaller screens */
    }
}

@media (max-width: 768px) {
    .overview-item {
        width: calc(80% - 20px); /* Adjust for smaller smaller screens */
    }

    .overview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .overview-item {
        width: 100%; /* Adjust to full width on smaller screens */
        max-width: 300px; /* Set a max-width to control the size */
        margin-bottom: 20px; /* Space between items */
    }
    
    .overview-item img {
        width: 100%; /* Ensures the image takes full width of the container */
        height: auto; /* Maintains aspect ratio */
        object-fit: cover; /* Ensures the image covers the container without distortion */
    }
    #overview-filters {
        justify-content: center;
        text-align: center;
        display: block;
        margin: 10px 0;
    }

    #bg-video {
        pointer-events: none;
    }
}


/*
====================
ABOUT
====================
*/
/* Index.html＆ Meet our Facilities 按鈕可以連到about#factory並不被Navbar擋到 */
#factory {
    padding-bottom: 20px; /* 根據 footer 的高度調整 */
    scroll-margin-top: 80px; /* 根據 header 或 footer 的高度調整 */
}
.about-section {
    position: relative;
    overflow: hidden;
}

/* 設置視頻背景樣式 */
#bg-video {
    position: absolute; /* 絕對定位 */
    top: 0; /* 距離頂部 0 */
    left: 0; /* 距離左側 0 */
    width: 100%; /* 設置寬度為 100% */
    height: 100%; /* 設置高度為 100% */
    object-fit: cover; /* 確保視頻覆蓋整個容器 */
    opacity: 0.5; /* 設置透明度為 0.5 */
    z-index: -1; /* 設置層級，使其在 content 之下 */
    pointer-events: none; /* 確保不會點到影片觸發 */
}

.intro-section {
    position: relative;
    z-index: 1;
    padding: 60px 0; /* 確定下上Padding空間夠 */
    margin: 50px 0;
    border-radius: 10px;
}

.intro-section .logo {
    max-width: 100%;
    height: auto;
}

.custom-em {
    font-size: 3.5em; 
    font-weight: bold; 
    font-style: italic; /* em的defult字體是斜體 */
    color: black;
    text-decoration: underline;
}

/* 內容容器 */
.intro-container {
    position: relative; /* 相對定位，確保視頻在後面 */
    z-index: 2; /* 設置層級，使其顯示在視頻之上 */
    text-align: left;
    width: 90%;
    max-width: 1200px; /* 避免stretch太多 */
    background: rgba(255, 255, 255, 0.8); /* 加上背面半透明的字幕背景 */
    border-radius: 20px;
    margin: auto;
    font-size: 1.1rem;
    padding: 20px;
    box-sizing: border-box;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: left;
}

.intro-content h2{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

.intro-content p {
    font-size: 24px;
}

.intro-content h2,
.intro-content p,
.intro-content .custom-btn {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.intro-content .custom-btn {
    align-self: flex-start;
}

.custom-btn {
    border: 2px solid transparent;
    border-radius: 100px;
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s;
    padding: 12px 28px;
}
  
.custom-btn:hover {
    background: var(--link-hover-color);
    border: 2px solid black;
    color: black;
    text-decoration: underline;
}
  
.custom-border-btn {
    background: transparent;
    border: 2px solid black;
    color: black;
}
  
.custom-border-btn:hover {
    background: white;
    color: var(--link-hover-color);
}

.smoothscroll {
    display: block;
    text-align: center;
}

.factory-section {
    position: relative;
    z-index: 1;
    padding: 30px 0; /* 確定下上Padding空間夠 */
    border-radius: 10px;
}


.factory-block-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    max-height: 450px;
    cursor: pointer;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.factory-block-wrap:hover .factory-block-image {
    transform: scale(1.2);
}
  
.factory-block-image-wrap {
    width: 100%;
    height: auto;
}
  
.factory-block-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: all 0.3s;
}
  
.factory-block-info {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(251, 192, 147, 0.8));
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
}
  
.badge {
    margin-left: auto;
    margin-top: auto;
}

/* 響應式 */
@media (max-width: 1200px) {
    .intro-content {
        font-size: 1rem;
    }

    .factory-block-wrap {
        max-width: 400px; /* Adjust for medium screens */
    }
}

@media (max-width: 992px) {
    .custom-em {
        font-size: 3.3rem;
    }

    .intro-content {
        font-size: 0.9rem;
    }

    .intro-section {
        padding-top: 100px; /* 確保不會超過 Navbar */
        padding-bottom: 100px; /* 確保不會被 Footer 蓋到 */
    }

    .factory-block-wrap {
        max-width: 350px; /* Adjust for smaller screens */
    }

    .factory-block-info {
        margin-top: 20px; /* 把文字移到靠近底部 */
    }

    .badge {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .custom-em {
        font-size: 3.2rem;
    }

    .intro-section {
        padding: 40px 0;
    }

    .intro-content {
        font-size: 0.8rem;
        padding: 20px;
    }

    .intro-content h2,
    .intro-content p {
        max-width: 100%;
    }

    .intro-section .intro-content {
        text-align: left;
    }

    .factory-section {
        padding-bottom: 50px;
    }

    .factory-block-wrap {
        max-width: 100%; /* Full width on small screens */
    }

    .factory-block-info h4{
        margin-top: 2rem; /* Further adjust for smaller screens */
    }

    .factory-block-info p {
        font-size: 1rem;
    }
}


/*
====================
SERVICE
====================
*/
/* Index.html service按鈕可以連到about#service並不被Navbar擋到 */
#service {
    padding-bottom: 20px; /* 根據 footer 的高度調整 */
    scroll-margin-top: 70px; /* 根據 header 或 footer 的高度調整 */
}
.service-custom-em {
    font-size: 3.5em; 
    font-weight: bold; 
    font-style: italic; /* em的defult字體是斜體 */
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: 2rem;
}
.service-item {
    background-color: white;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item h4 {
    text-decoration: underline;
}

.service-item:hover {
    background: var(--service-bg-color);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: white !important;
}

.service-icon {
    font-size: 3rem; /* 修改icon尺寸 */
    justify-content: center;
}


/*
====================
PRODUCT SIDEBAR
====================
*/
/* 全局樣式 */
.products {
    display: flex;
    flex-wrap: nowrap;
}

.side-nav {
    background-color: #f8f9fa;
    padding: 15px;
    margin-top: 80px; /* 使Sidebar位置比Navbar低 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-shrink: 0; /* 避免縮放 */
}

/* Sidebar 樣式調整 */
.sidebar-title h2 {
    margin: 0;
    padding: 10px;
    white-space: nowrap; /* 防止文字換行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 用省略號表示超出部分 */
}

.sidebar_categories {
    list-style-type: none;
    padding: 0;
}

.sidebar_categories li {
    margin: 5px 0;
}

.sidebar_categories li a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-nav .site-nav {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    padding: 5px 20px;
}

.sidebar_categories .lvl-1 > a.site-nav {
    font-size: 1.4rem; /* 調整這裡的數值來設定所需的字體大小 */
    font-weight: bold; /* 可選：增加字體粗細 */
}

.sublinks {
    list-style-type: none;
    padding-left: 15px;
}

.toggle-btn {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    margin-left: 10px;
}

.side-nav .site-nav:hover {
    background-color: transparent;
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* 當寬度小於992px時的樣式 */
@media (max-width: 992px) {
    .products {
        flex-direction: column;
    }

    .side-nav {
        display: flex;
        width: 100%;
        margin-top: 0;
        box-shadow: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        order: 1;
    }

    .side-nav .sidebar-title {
        width: 100%;
        text-align: center;
    }

    .side-nav .sidebar_categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .side-nav .sidebar_categories li {
        flex: 1 1 45%;
        text-align: center;
        margin: 10px 0;
    }

    .main-content {
        margin-top: 0;
    }

    .product-carousel {
        order: 2;
    }
}


/*
====================
PRODUCT CAROUSEL
====================
*/
.flex-grow-1 P{
    flex: 1;
    overflow-y: auto;
}

#product-carousel {
    flex: 1;
    height: calc(100vh - 56px); /* 減去NavBar高度 */
    margin-top: 80px;
    position: relative; /* 確保 slider_nav 可以定位在圖片內部 */
    overflow: hidden;
}

.carousel-link {
    text-decoration: none; /* 去除下划线 */
    color: white; /* 保持文本颜色 */
}

.carousel-link:hover {
    text-decoration: none; /* 确保悬停时也没有下划线 */
    color: var(--link-hover-color); /* 修改为你想要的悬停颜色 */
}

#product-carousel .carousel-control-prev,
#product-carousel .carousel-control-next {
    background: transparent;
}

#product-carousel .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh 
}

#product-carousel .carousel-inner .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-carousel .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4));
    background-size: cover;
}

#product-carousel .carousel-control-prev,
#product-carousel .carousel-control-next {
    width: 90px;
    height: 90px;
    background-color: #252525;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: 12px;
    text-decoration: none;
    z-index: 2; /* 確保控制項在圖片上層 */
}
  
#product-carousel .carousel-control-prev:hover,
#product-carousel .carousel-control-next:hover {
    background-color: rgba(37, 37, 37, 1); /* 懸停時顏色 */
    color: var(--link-hover-color);
    text-decoration: underline;
}
  
#product-carousel .carousel-control-prev {
    border-radius: 0 100% 100% 0;
    left: 0px;
    background-position: 58px center;
}
  
#product-carousel .carousel-control-next {
    border-radius: 100% 0 0 100%;
    right: 0px;
    background-position: 20px center;
}


#product-carousel.carousel {
    position: relative;
}

#product-carousel.carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

#product-carousel.carousel .carousel-indicators li,
#product-carousel.carousel .carousel-indicators li,
#product-carousel.carousel .carousel-indicators li {
    margin-right: 30px !important;
}

#product-carousel.carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 12px !important;
    border: 5px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    
}

#product-carousel.carousel .carousel-indicators li.active {
    border: 5px solid blue !important;
    border-radius: 10px;
}

/* 響應式 */
@media (max-width: 992px) {
    .product-carousel .carousel-inner {
        height: auto;
    }

    .product-carousel .img-box {
        height: auto; /* 確保 img-box 在較小螢幕下自動調整高度 */
    }

    .product-carousel .img-box img {
        height: auto; /* 確保圖片在較小螢幕下自動調整高度 */
    }
}

@media (max-width: 768px) {
    .product-carousel .carousel-inner {
        height: auto;
    }

    .product-carousel .img-box {
        height: auto; /* 確保 img-box 在較小螢幕下自動調整高度 */
    }

    .product-carousel .img-box img {
        height: auto; /* 確保圖片在較小螢幕下自動調整高度 */
    }

    #product-carousel .carousel-control-prev,
    #product-carousel .carousel-control-next {
        width: 70px;
        height: 70px;
        background-size: 8px;
        font-size: 12px;
    }

    #product-carousel .carousel-control-prev {
        background-position: 38px center;
    }

    #product-carousel .carousel-control-next {
        background-position: 12px center;
    }
}

@media (max-width: 576px) {
    .product-carousel .carousel-inner {
        height: auto;
    }

    .product-carousel .img-box {
        height: auto; /* 確保 img-box 在較小螢幕下自動調整高度 */
    }

    .product-carousel .img-box img {
        height: auto; /* 確保圖片在較小螢幕下自動調整高度 */
    }

    #product-carousel .carousel-control-prev,
    #product-carousel .carousel-control-next {
        width: 45px;
        height: 45px;
        background-size: 6px;
    }

    #product-carousel .carousel-control-prev {
        background-position: 28px center;
    }

    #product-carousel .carousel-control-next {
        background-position: 8px center;
    }
}



/*
====================
PRODUCT
====================
*/
/* 隱藏超過三個的產品 */
.product-list .more-item {
    display: none;
}

.section-padding {
    margin-top: 20px;
}

.more-btn {
    display: inline-block;
    margin: 0;
}

.product-details {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.product-image {
    width: 100%; /* 设置图片的宽度 */
    height: 250px; /* 设置图片的高度 */
    object-fit: scale-down; /* 确保图片保持比例，縮小以适应容器 */
} 

.product-image:hover {
    transform: scale(1.1); /* 放大效果 */
}

.no-underline {
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.product-title {
    margin-top: 5px; /* 照片跟標題的距離 */
    margin-bottom: 20px; /* 確保標題下還有空隙 */
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.product-item {
    text-align: center; /* 確保文字居中 */
}

.product-item a {
    display: block; /* 確保鏈接和內容佔滿整個容器 */
}

.product-title {
    margin-top: 10px; /* 確保標題與圖片之間有適當的間距 */
}

.product-info {
    margin-left: 20px;
}

.scroll-offset {
    scroll-margin-top: 100px; /* Adjust the value as needed */
}

/* 當寬度大於992px時，保持現狀 */
@media (min-width: 993px) {
    .products {
        display: flex;
    }

    .side-nav {
        display: block;
    }

    .product-content {
        order: 2;
    }
}

/* 當寬度小於992px時 */
/* 隱藏 side-nav */
@media (max-width: 992px) {
    .products {
        display: flex;
        flex-direction: column;
    }
    .side-nav {
        display: none;
    }

    .side-nav-mobile {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
}

/*
====================
PRODUCT CONTENT
====================
*/
.product-content {
    padding: 15px;
}

.product-content-title {
    margin-top: 55px;
    margin-bottom: 40px;
    font-size: 36px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 將圖片和縮略圖靠左對齊 */
    margin-right: 20px; /* 根據需要調整圖片與文字部分的間距 */
}

.main-product-image {
    width: 80%;
    margin-bottom: 10px; /* 調整主圖片與縮略圖之間的間距 */
}

.main-product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product-images {
    display: flex;
    justify-content: flex-start; /* 確保縮略圖靠左對齊 */
    gap: 5px; /* 控制縮略圖之間的間距 */
}

.product-images img {
    width: 60%;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.product-images .thumbnail-container {
    width: 6vw; /* 設置固定寬度 */
    aspect-ratio: 1 / 1; /* 設置比例為1:1，使得容器保持正方形 */
    flex-shrink: 0;
    overflow: hidden; /* 隱藏超出的圖片部分 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content li {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.product-content h5 {
    color: red;
    font-size: 20px; /* 將 h5 標題字體大小設置為20px */
}

.product-content h6 {
    color: blue;
    font-size: 18px; /* 將 h6 標題字體大小設置為18px */
}

.scroll-offset {
    scroll-margin-top: 100px; /* Adjust the value as needed */
}

/* 響應式 */
/* 中型設備（如平板電腦）樣式 */
@media (max-width: 992px) {
    .product-content {
        padding: 0 15px;
    }

    .product-content h2 {
        font-size: 28px;
    }

    .product-content p {
        font-size: 18px;
    }

    .product-content li {
        font-size: 26px;
    }

    .product-content-title {
        font-size: 60px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .product-content {
        padding: 0 15px;
    }

    .product-images img {
        width: 25%; /* 小屏幕時增加縮略圖的相對大小 */
    }

    .product-images .thumbnail-container {
        width: 8vw; /* 在較小螢幕上增加縮略圖的相對大小 */
    }

    .product-content-title {
        font-size: 6vw; /* 調整標題字體大小以適應較小屏幕 */
    }
    .product-content h2 {
        font-size: 5vw;
    }
    .product-content h3 {
        font-size: 4vw;
    }
    .product-content li {
        font-size: 3.5vw;
    }
    .product-content h5 {
        font-size: 4vw;
    }
    .product-content h6 {
        font-size: 3.5vw;
    }

    .product-content-img, .content-text {
        padding-left: 0;
        padding-right: 0;

    }
}

/* 小型設備（如手機）樣式 */
@media (max-width: 576px) {
    .product-content-title {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .product-images img {
        width: 30%; /* 更小屏幕時進一步增加縮略圖的相對大小 */
    }

    .product-images .thumbnail-container {
        width: 9.5vw; /* 在更小螢幕上進一步增加縮略圖的相對大小 */
    }
}

    .product-content-title {
        font-size: 6vw; /* 調整標題字體大小以適應較小屏幕 */
    }
    .product-content h2 {
        font-size: 4vw;
    }
    .product-content h3 {
        font-size: 3vw;
    }
    .product-content li {
        font-size: 2.5vw;
    }
    .product-content h5 {
        font-size: 3vw;
    }
    .product-content h6 {
        font-size: 2.5vw;
    }
    .product-content-img {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .product-content-image {
        width: 30%; /* 確保圖片寬度為100% */
        height: auto;
    }
}


/*
====================
BACK-TO-TOP BUTTON
====================
*/
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: pink;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #0056b3;
}


/*
====================
NEWS
====================
*/
.news {
    padding: 80px 0; /* 增加上下內邊距 */
}

.news-section {
    background-color: var(--news-bg-color);
}

.news .section-heading {
    margin-bottom: 100px; /* 調整標題的底部邊距 */
}

.news .section-heading h2 {
    font-size: 8.5rem;
    margin-top: 50px;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
  
.news .news-item {
    background-color:var(--news-color);
    border-radius: 25px;
    position: relative;
    padding: 40px; /* 減少內邊距 */
    margin-bottom: 96px; /* 減少底部邊距 */
}
  
.news .news-item .news-image {
    position: relative;
}
  
.news .news-item .news-image img {
    position: absolute;
    border-radius: 25px;
    max-width: 100%; /* 確保圖片能夠適應容器 */
    height: auto; /* 保持圖片邊距*/
    left: 0;
    top: -70px;
}
  
.news .news-item ul li {
    display: inline-block;
    width: 17.5%;
    vertical-align: middle;
    margin-bottom: 10px;
}
  
.news .news-item ul li:first-child {
    width: 35%;
}
  
.news .news-item ul li:nth-of-type(2) {
    width: 28%;
}
  
.news .news-item ul li span.news-category {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--link-hover-color);
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
}
  
.news .news-item ul li h4 {
    font-size: 22px;
    font-weight: 600;
}
  
.news .news-item ul li span {
    display: inline-block;
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
  
.news .news-item ul li h6 {
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
  
.news .news-item a {
    position: absolute;
    right: 0;
    top: 35px;
    background-image: url('https://img.freepik.com/premium-photo/seamless-wood-texture-background_105762-34.jpg');
    background-color: black;
    width: 60px; /* 減少寬度 */
    height: 120px; /* 調整高度 */
    display: inline-block;
    text-align: center;
    line-height: 120px; /* 調整行高 */
    font-size: 18px; 
    z-index: 1;
    color: #fff;
    border-radius: 60px 0px 0px 60px; /* 調整圓角 */
}

/* 響應式 */
@media (max-width: 1200px) {
    .news {
      margin-top: 20px;
    }

    .news .navbar{
        background-color: var(--news-bg-color);
    }

    .news .section-heading h2 {
        font-size: 6rem;
    }
}

@media (max-width: 992px) {
    .news {
      margin-top: 20px;
    }

    .news .news-item {
      margin-bottom: 66px;
    }

    .news .news-item .news-image img {
      position: relative;
      max-width: 100%;
    }

    .news .news-item ul {
      margin-top: -40px;
    }

    .news .news-item ul li:first-child {
      width: 100% !important;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd;
    }

    .news .news-item ul li:nth-child(2) {
      width: 40% !important;
    }

    .news .news-item ul li {
      display: inline-block;
      width: 28% !important;
    }

    .news .news-item ul li:last-child {
      text-align: right;
    }

    .news .news-item a {
      bottom: 150px;
      top: auto;
    }

    .news .news-item ul li h6 {
      font-size: 14px;
    }
}
    
@media (max-width: 768px) {
    .news .news-item {
        padding: 20px;
        margin-bottom: 30px;
    }

    .news .section-heading h2 {
        font-size: 4.5rem;
        margin-top: 50px;
    }

    .news .news-item .news-image img {
        max-width: 100%;
        height: auto;
        top: -50px; /* 調整圖片位置 */
    }

    .news .news-item ul li {
        display: block;
    }

    .news .news-item a {
        right: 5px;
        top: 15px;
        width: 45px; /* 調整寬度 */
        height: 80px; /* 調整高度 */
        line-height: 80px;
        font-size: 14px; /* 調整字體大小 */
    }
}

@media (max-width: 576px) {
    .news .news-item {
        padding: 15px;
        margin-bottom: 20px;
    }

    .news .news-item .news-image img {
        top: -30px; /* 調整圖片位置 */
    }

    .news .news-item a {
        width: 40px; /* 調整寬度 */
        height: 60px; /* 調整高度 */
        line-height: 60px;
        font-size: 12px; /* 調整字體大小 */
    }
}

/*
====================
CONTACT
====================
*/
.contact-page .left-text {
    background-color: #c6eef4;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 5px;
    margin-top: 30px;
}
  
.contact-page .left-text .section-heading {
    margin-bottom: 40px;
}

.contact-page .left-text h6{
    margin-bottom: 10px;
    color: lightseagreen;
}

.contact-page .right-content ul li {
    display: block;
    font-size: 16px;
    color: black;
    font-size: 300;
    margin-bottom: 5px;
}
  
.contact-page .right-content ul li:last-child {
    margin-bottom: 50px;
}
  
.contact-page .right-content ul li span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: blue;
    margin-bottom: 5px;
}
  
.contact-page .right-content {
    margin-left: 50px;
    margin-top: 30px;
}
  
.contact-page .right-content #map {
    margin-bottom: 20px;
}
  
.contact-page .left-text form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 30px;
}
  
.contact-page .left-text form textarea {
    width: 100%;
    height: 130px;
    border-radius: 25px;
    padding: 20px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 30px;
}
  
.contact-page .left-text form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #f7868e;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    transition: all .3s;
}
  
.contact-page .left-text form button:hover {
    background-color: white;
    color: var(--link-hover-color);
}

@media (max-width: 992px) {
    .contact-page .right-content {
        margin-left: 0px;
        margin-top: 45px;
  }
}


/*
====================
FOOTER
====================
*/
/* 減少空白處 */
.footer .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.footer .container {
    max-width: 100%;
    display: flex;
    flex-direction: column; /* 確保在小螢幕上是垂直排列 */
    align-items: center; /* 內容置中 */
}

.footer {
    background-color: black;
}
  
.footer a {
    color: white;
}

.footer_icons {
    display: flex;
    align-items: center;
    justify-content: center; /* 確保圖標置中 */
    margin-left: 10px; /* 根据需要调整这个值 */
}

.footer_icons i {
    margin-right: 10px;
}

.left-side iframe {
    border-radius: 1rem;
    margin-top: 10px;
    width: 80%; /* 确保 iframe 占满父容器宽度 */
    height: auto; /* 确保 iframe 高度自动调整 */

}

/* 調整middle部分的上外邊距 */
.middle {
    margin-top: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-logo-image {
    max-width: 100%; /* 确保图片不会超出其父容器的宽度 */
    height: auto; /* 确保图片高度自动调整以保持比例 */
    transition: transform 0.2s; /* 添加放大效果的过渡 */
    padding-top: 10px;
    margin-left: 0;
}

.white-logo-image:hover {
    transform: scale(1.1); /* 鼠标指在上面會放大 */
}

.footer p,
.footer-menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer-menu {
    display: flex;
    justify-content: center; /* 水平置中 */
    padding: 0;
    margin: 15px 0 0 0; /* 增加與圖片之間的間距 */
}

.footer-menu li {
    list-style: none; /* 移除默認列表樣式 */
    margin: 0 50px; /* 設置列表项間距 */
}

.footer-menu a:hover {
    color: var(--link-hover-color); /* 根據需要調整滑鼠點到時的颜色 */
    text-decoration: underline;
}
  
.footer-menu {
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    transition: all 0.3s;
}
  
.footer-menu a:hover {
    color: var(--link-hover-color);;
    text-decoration: underline;
}

/* 调整右邊部份的上外邊距 */
.right-side {
    margin-top: 40px !important; /* 根据需要调整这个值来增加上外边距，使用 !important 优先级 */
    text-align: center;
}

/* 调整 Contact Us 字体大小 */
h1.contact-us-title {
    font-size: 2.9rem; /* 根据需要调整这个值 */
    font-weight: bold; /* 根据需要调整字体粗细 */
    margin-bottom: 40px; /* 添加下外边距 */
}

.footer-link  {
    text-decoration: none;
    color: white; 
}

.footer-link:hover {
    color: var(--link-hover-color);;
    text-decoration: underline;
}

.copy-right-container {
    max-width: 100%;
}

.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.copyright-text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

/* 響應式 */
/* 使用媒体查询调整字体大小和容器宽度 */
@media (max-width: 1400px) {
    .container {
        padding: 0 10px;
    }

    .left-side iframe {
        width: 100%; /* 确保 iframe 在小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer-menu li {
        margin: 0 10px; /* 设置列表项间距 */
    }

    h1.contact-us-title {
        font-size: 2rem; /* 调整字体大小 */
        margin-bottom: 20px; /* 添加下外边距 */
    }

    .footer-link {
        font-size: 0.9rem; /* 调整字体大小 */
    }

    .footer-icons i {
        font-size: 0.9rem; /* 调整图标大小 */
    }
}

@media screen and (max-width: 991px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .left-side iframe {
        max-width: 100%; /* 确保 iframe 在小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer .col-lg-2,
    .footer .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-menu li {
        margin: 0 40px; /* 设置列表项间距 */
    }

    .footer .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left-side iframe {
        width: 400px;
        height: 200px; /* 根据需要调整这个值 */
    }

    .white-logo-image {
        max-width: 70%; /* 确保在小屏幕上缩小 */
    }

    h1.contact-us-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .footer-link {
        font-size: 1rem; /* 再次调整字体大小 */
    }

    .footer-icons i {
        font-size: 1rem; /* 再次调整图标大小 */
    }

    .footer_icons {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer_icons p {
        margin: 0;
    }
}
  
@media screen and (max-width: 768px) {
    .footer .col-lg-2,
    .footer .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .left-side, .right-side, .middle {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    h1.contact-us-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .footer-link {
        font-size: 1rem;
    }

    .footer-icons i {
        font-size: 1rem;
    }

    .footer-menu {
        flex-direction: row;
        align-items: center;
    }

    .footer_icons {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer-menu li {
        margin: 0px 20px;
        }
}

@media (max-width: 576px) {
    .left-side iframe {
        max-width: 100%; /* 确保 iframe 在超小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer_icons {
        justify-content: center;
    }

    .footer-menu {
        flex-direction: row;
        align-items: center;
    }

    .footer-menu li {
        margin: 30px 10px;
    }

    .footer .col-lg-2,
    .footer .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .left-side, .right-side, .middle {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    h1.contact-us-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .footer-link {
        font-size: 1rem;
    }

    .footer-icons i {
        font-size: 1rem;
    }

    .footer-menu {
        flex-direction: row;
        align-items: center;
    }

    .footer_icons {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer-menu li {
        margin: 10px 5px;
    }
}
