
/*
================================
CUSTOM COLOR PROPERTIES
================================
*/
:root {
    --link-hover-color:             #7DB9DE;
    --dropdown-menu-bg-color:       #333;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}


/*
====================
OVERALL
====================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 設定所有元素的 box-sizing 為 border-box，包含 padding 和 border 在內 */
}

body {
    width: 100vw;
    font-family: 'Impact', fantasy; /* 設定全局字體 */
    background-color: #f4f4f4; /* 設定背景顏色 */
    color: #333; /* 設定文字顏色 */
    display: flex; /* 使用flex佈局 */
    flex-direction: column; /* 垂直排列子元素 */
    min-height: 100vh; /* 保證頁面高度至少為視窗高度 */
}

.main-content {
    flex: 1; /* 使主內容區域擴展以填滿剩餘空間 */
    display: flex;
    flex-direction: column;
    width: 100%;
}



/*
====================
NAVBAR
====================
*/
.navbar {
    padding: 0px 5px;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px
}

.navbar-logo {
    height: 100%; /* 確保 logo 容器高度佔滿父元素 */
    display: flex; /* 使用彈性佈局 */
    align-items: center; /* 垂直居中對齊 */
    overflow: hidden; /* 確保內容不會超出容器 */
}

.navbar-logo .navbar-logo-image {
    height: 100%;
    width: 300px; 
    max-height: none; /* 调整这里的值来增大 LOGO 尺寸 */
    object-fit: contain; /* 確保圖片內容完整顯示 */
    padding: 0; /* 移除內邊距 */
    opacity: 0; /* 預設透明度為 0，隱藏 logo */
    visibility: hidden; /* 預設為隱藏 */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* 添加透明度和可見度變化的過渡效果 */
}

.navbar.scrolled {
    background-color: white; /* 滾動後的背景顏色為白色 */
    color: black; /* 滾動後的文字顏色為黑色 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 滾動後加強陰影效果 */
    animation: shadowPulse 0.5s ease; /* 添加殘影動畫 */
}

/* 殘影動畫效果 */
@keyframes shadowPulse {
    0% {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
}

.navbar-nav .nav-link {
    color: black;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Navbar選單 */
.navbar-nav .nav-link {
    display: inline-block;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}
 
.navbar-nav .nav-link:hover {
    color: var(--link-hover-color);
}
  
.navbar .dropdown-menu {
    background: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border: 0;
    display: inherit;
    opacity: 0;
    min-width: 9rem;
    margin-top: 0; /* 調整為 0，確保與 Product 對齊 */
    padding: 13px 0 10px 0;
    transition: all 0.3s;
    pointer-events: none;
    top: 60px; 
    left: 0;/* 確保下拉菜單與觸發按鈕對齊 */
}
  
.navbar .dropdown-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -10px;
    left: 10px;
}
  
.navbar .dropdown-item {
    display: inline-block;
    color: black;
    font-size: 18px;
    position: relative;
}

.navbar-nav .nav-item:last-child {
    margin-right: 20px; 
 }
  
.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
    background: transparent;
    color: var(--link-hover-color);
}
  
.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 35px;
    outline: none;
  }

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* 漢堡菜單的中間那橫線 */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
} 

.navbar-toggler .navbar-toggler-icon {
    background: black;
    transition: background 10ms 300ms ease;
    display: block;
    width: 35px;
    height: 3.3px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: black;
    width: 35px;
    height: 4px;
    content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}

/* 動畫效果 */
@keyframes navLinkFade {
    from {
        opacity: 0; /* 初始透明度為0 */
        transform: translateX(-50px); /* 初始位置偏移50px */
    }
    to {
        opacity: 1; /* 最終透明度為1 */
        transform: translateX(0); /* 最終位置回到原點 */
    }
}


/* 響應式設計 */
@media screen and (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      opacity: 1;
      margin-top: 0;
      pointer-events: auto; 
    }
}
  
@media screen and (max-width: 992px) {
    .navbar .dropdown-menu {
      display: none;
    }
  
    .navbar .dropdown-menu::before {
    display: none;
    }
  
    .navbar .dropdown:hover .dropdown-menu {
    display: block; /* 當滑鼠懸停時顯示dropdown menu 
    */
    }
  
    .navbar .dropdown-item.active, 
    .navbar .dropdown-item:active,
    .navbar .dropdown-item:focus, 
    .navbar .dropdown-item:hover {
    background: transparent;
    color: var(--link-hover-color);
    text-decoration: underline;
    }
    
    /* Dropdown Menu背景 */
    .navbar .dropdown:hover .dropdown-menu {
        background: var(--dropdown-menu-bg-color);
        box-shadow: none; 
        opacity: 1; /* 確保可見 */
        pointer-events: auto; /* 確保可點擊 */
        margin-top: -20px; 
    }

    .navbar .dropdown-item {
        display: inline-block;
        color: white;
        font-size: 18px;
        position: relative;
    }

    .navbar-nav {
        background-color: var(--dropdown-menu-bg-color);
        text-align: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: white;
    }

    .navbar-nav .nav-item {
        float: none;
        display: inline-block;
    }

    /* 對齊 dropdown menu 與 Product */
    .navbar .dropdown-menu {
    position: static;
    transform: none;
    }

    .navbar .dropdown-item {
        text-align: center;
    }

    .navbar .dropdown-menu::before {
        left: auto;
        transform: none;
    }

    /* 使 logo 在頁面縮小後居中顯示 */
    .navbar .navbar-logo {
        justify-content: center; /* 水平居中對齊 */
    }
    .navbar .navbar-logo .navbar-logo-image {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* 
====================
Main Section 
====================
*/
.main-section {
    position: relative; /* 使這個 section 內的元素可以使用絕對定位 */
    width: 100%; /* 設置寬度為 100% */
    height: 100vh; /* 設置高度為視窗高度的 100% */
    display: flex; /* 使用彈性佈局 */
    justify-content: center; /* 水平居中對齊 */
    align-items: center; /* 垂直居中對齊 */
    text-align: center; /* 文字居中對齊 */
    overflow: hidden; /* 確保內容不會超出容器 */
}

/* 設置視頻背景樣式 */
#bg-video {
    position: absolute; /* 絕對定位 */
    top: 0; /* 距離頂部 0 */
    left: 0; /* 距離左側 0 */
    width: 100%; /* 設置寬度為 100% */
    height: 100%; /* 設置高度為 100% */
    object-fit: cover; /* 確保視頻覆蓋整個容器 */
    opacity: 0.5; /* 設置透明度為 0.5 */
    z-index: 1; /* 設置層級，使其在 content 之下 */
}

/* 內容容器 */
.main-section .content {
    position: relative; /* 相對定位，確保視頻在後面 */
    color: white; /* 設置文字顏色為白色 */
    z-index: 2; /* 設置層級，使其顯示在視頻之上 */
}
/* 主標題樣式 */
.main-section .content h1 {
    font-size: 2em; /* 設置字體大小為 2 倍的默認大小 */
    margin-bottom: 0.5em; /* 設置底部外邊距為 0.5em */
}

/* 副標題樣式 */
.main-section .content h2 {
    font-size: 4em; /* 設置字體大小為 4 倍的默認大小，增大字體 */
    margin-bottom: 0.5em; /* 設置底部外邊距為 0.5em */
    font-family: 'Impact', fantasy; /* 設置字體 */
    color: #ffffff; /* 設置文字顏色為白色 */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* 添加陰影效果，增加藝術感 */
    text-transform: uppercase; /* 設置字母大寫 */
    letter-spacing: 2px; /* 增加字母間距 */
    display: inline-block; /* 使底部邊框不影響行高 */
    position: relative; /* 為子元素提供相對定位 */
}

/* 添加底部藍色線條 */
.main-section .content h2::after {
    content: ''; /* 添加空內容 */
    display: block; /* 設置為塊級元素 */
    width: 200px; /* 設置線條寬度，這裡你可以調整為需要的寬度 */
    height: 3px; /* 設置線條高度為 3px */
    background-color: #1E88A8; /* 設置線條顏色 */
    position: absolute; /* 絕對定位 */
    bottom: -10px; /* 距離底部10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中對齊 */
}


/* 描述文字樣式 */
.main-section .content p {
    font-size: 1.2em; /* 設置字體大小為 1.2 倍的默認大小 */
    margin-bottom: 1.5em; /* 設置底部外邊距為 1.5em */
    color: #ffffff;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .main-section .content p {
        font-size: 0.8em; /* 當螢幕寬度小於 768px 時，設置字體大小為 0.8 倍的默認大小 */
    }
}

/* 滾動提示容器 */
.main-section .scroll-down {
    position: absolute; /* 絕對定位 */
    bottom: 40px; /* 距離底部 40px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
}

/* 滾動提示容器 */
.main-section .scroll-down {
    position: absolute; /* 絕對定位 */
    bottom: 80px; /* 將距離底部的距離從40px改為80px，使其上移 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
    z-index: 2; /* 確保顯示在 overlay 之上 */
}

/* 滾動提示樣式 */
.main-section .scroll-down span {
    display: block; /* 設置為塊級元素 */
    width: 30px; /* 設置寬度為 30px */
    height: 50px; /* 設置高度為 50px */
    border: 2px solid white; /* 設置白色邊框，寬度為 2px */
    border-radius: 50px; /* 設置邊框圓角，半徑為 50px */
    position: relative; /* 相對定位，用於內部元素的定位 */
    animation: scroll 2s infinite; /* 添加滾動動畫，持續時間 2 秒，無限循環 */
}

/* 滾動提示內部小圓點樣式 */
.main-section .scroll-down span::before {
    content: ''; /* 添加空內容 */
    display: block; /* 設置為塊級元素 */
    width: 8px; /* 設置寬度為 8px */
    height: 8px; /* 設置高度為 8px */
    background: white; /* 設置背景顏色為白色 */
    border-radius: 50%; /* 設置圓角，形成圓形 */
    position: absolute; /* 絕對定位 */
    bottom: 10px; /* 距離底部 10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平移動，使其完全居中 */
    animation: scroll-inner 2s infinite; /* 添加內部滾動動畫，持續時間 2 秒，無限循環 */
}


/* 滾動動畫的關鍵幀 */
@keyframes scroll {
    0% {
        opacity: 1; /* 初始透明度為 1 */
    }
    100% {
        opacity: 0; /* 最終透明度為 0 */
    }
}

/* 滾動提示內部小圓點的關鍵幀 */
@keyframes scroll-inner {
    0% {
        bottom: 10px; /* 初始位置距離底部 10px */
        opacity: 1; /* 初始透明度為 1 */
    }
    100% {
        bottom: 35px; /* 最終位置距離底部 35px */
        opacity: 0; /* 最終透明度為 0 */
    }
}


/*
====================
Overivew
====================
*/
/* 設定 container部份含上圓弧 */
.container-fluid {
    position: relative;
    z-index: 2;
    background: white;
}

/* 設計上圓弧 */
.overview-section::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    border-top-left-radius: 20% 50px;
    border-top-right-radius: 20% 50px;
    z-index: 1;
}

.overview-section {
    margin-top: -5px;
    padding-top: 100px;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); 
    animation: arcShadow 2s infinite;
}

/* 圓弧陰影動畫 */
@keyframes arcShadow {
    0% {
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); /* 初始陰影 */
    }
    50% {
        box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.3); /* 中間陰影 */
    }
    100% {
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2); /* 最終陰影 */
    }
}

.section-title h1 {
    margin-top: -20px; /* Adjust the value as needed */
    position: relative;
    top: -30px; /* Further adjust the position of the text */
}

#overview-filters {
    margin-top: -40px; /* 把按鈕也往上移 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ISOTOPE 內容 */
#overview-filters li {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: 2px solid black; /* 外框颜色 */
    border-radius: 50px; /* 橢圓形外框 */
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

#overview-filters li.active,
#overview-filters li:hover {
    background-color: white; /* 滑鼠停在按鈕上的背景颜色 */
    color: var(--link-hover-color); /* 滑鼠停在按鈕上的文字颜色 */
}

.text-primary {
    font-size: 40px;
}

.overview-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: .5s;
}

.overview-item:hover img {
    transform: scale(1.1);
}

.overview-item .overview-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, 0.7);
    transition: .5s;
}

.overview-item:hover .overview-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.overview-item .overview-overlay .btn {
    opacity: 0;
}

.overview-item:hover .overview-overlay .btn {
    opacity: 1;
}

.overview-item {
    width: calc(33.333% - 20px); /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
}

@media (max-width: 992px) {
    .overview-item {
        width: calc(50% - 20px); /* Adjust for smaller screens */
    }
}

@media (max-width: 768px) {
    .overview-item {
        width: calc(80% - 20px); /* Adjust for smaller smaller screens */
    }

    .overview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .overview-item {
        width: 100%; /* Adjust to full width on smaller screens */
        max-width: 300px; /* Set a max-width to control the size */
        margin-bottom: 20px; /* Space between items */
    }
    
    .overview-item img {
        width: 100%; /* Ensures the image takes full width of the container */
        height: auto; /* Maintains aspect ratio */
        object-fit: cover; /* Ensures the image covers the container without distortion */
    }

        #overview-filters {
        justify-content: center;
        text-align: center;
    }
}


/*
====================
ABOUT
====================
*/
.about-section {
    position: relative;
    overflow: hidden;
    height: 100vh; /* 佔滿頁面 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

/* 設置視頻背景樣式 */
#bg-video {
    position: absolute; /* 絕對定位 */
    top: 0; /* 距離頂部 0 */
    left: 0; /* 距離左側 0 */
    width: 100%; /* 設置寬度為 100% */
    height: 100%; /* 設置高度為 100% */
    object-fit: cover; /* 確保視頻覆蓋整個容器 */
    opacity: 0.5; /* 設置透明度為 0.5 */
    z-index: -1; /* 設置層級，使其在 content 之下 */
}

/* 內容容器 */
.about-content {
    position: relative; /* 相對定位，確保視頻在後面 */
    z-index: 2; /* 設置層級，使其顯示在視頻之上 */
    text-align: left;
    width: 80%;
    max-width: 1200px;
    padding: 30px 0px;
    background: rgba(255, 255, 255, 0.8); /* 加上背面半透明的字幕背景 */
    border-radius: 20px;
    margin: auto;
}

.about-content h2{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.about-content p {
    font-size: 24px;
}

.custom-btn {
    border: 2px solid transparent;
    border-radius: 100px;
    color: black;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s;
    padding: 12px 28px;
  }
  
.custom-btn:hover {
    background: var(--link-hover-color);
    border: 2px solid black;
    color: black;
    text-decoration: underline;
}
  
.custom-border-btn {
    background: transparent;
    border: 2px solid black;
    color: black;
}
  
.custom-border-btn:hover {
    background: white;
    color: var(--link-hover-color);}
  

/* 響應式 */
@media (max-width: 768px) {
    .about-content {
        text-align: left;
        padding: 20px;
    }

    .about-content h2{
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
    }
    
    .about-content p {
        font-size: 15px;
    }

    .about-section {
        padding-top: 100px; /* 確保在Navbar下面 */
        padding-bottom: 100px; /* 確保不會被Footer蓋到 */
    }
}

@media (max-width: 576px) {
    .about-content {
        text-align: left;
        padding: px;
    }

    .about-content h2{
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
    }
    
    .about-content p {
        font-size: 15px;
    }

    .about-section {
        padding-top: 100px; /* 確保在Navbar下面 */
        padding-bottom: 60px; /* 確保不會被Footer蓋到 */
    }
}


/*
====================
Footer
====================
*/
/* 減少空白處 */
.footer .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.footer .container {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
}

.footer {
    background-color: black;
}
  
.footer a {
    color: white;
}

.footer_icons {
    display: flex;
    align-items: center;
    margin-left: 10px; /* 根据需要调整这个值 */
}

.footer_icons i {
    margin-right: 10px;
}

.left-side iframe {
    border-radius: 1rem;
    margin-top: 10px;
    width: 80%; /* 确保 iframe 占满父容器宽度 */
    height: auto; /* 确保 iframe 高度自动调整 */

}

/* 調整middle部分的上外邊距 */
.middle {
    margin-top: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-logo-image {
    max-width: 100%; /* 确保图片不会超出其父容器的宽度 */
    height: auto; /* 确保图片高度自动调整以保持比例 */
    transition: transform 0.2s; /* 添加放大效果的过渡 */
    padding-top: 10px;
    margin-left: 0;
}

.white-logo-image:hover {
    transform: scale(1.1); /* 鼠标指在上面會放大 */
}

.footer p,
.footer-menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer-menu {
    display: flex;
    justify-content: center; /* 水平置中 */
    padding: 0;
    margin: 15px 0 0 0; /* 增加与图片之间的间距 */
}

.footer-menu li {
    list-style: none; /* 移除默认列表样式 */
    margin: 0 50px; /* 设置列表项间距 */
}

.footer-menu a:hover {
    color: var(--link-hover-color); /* 根据需要调整悬停颜色 */
}
  
.footer-menu {
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    transition: all 0.3s;
}
  
.footer-menu a:hover {
    color: var(--link-hover-color);;
    text-decoration: underline;
}

/* 调整右邊部份的上外邊距 */
.right-side {
    margin-top: 40px !important; /* 根据需要调整这个值来增加上外边距，使用 !important 优先级 */
}

/* 调整 Contact Us 字体大小 */
h1.contact-us-title {
    font-size: 2.9rem; /* 根据需要调整这个值 */
    font-weight: bold; /* 根据需要调整字体粗细 */
    margin-bottom: 40px; /* 添加下外边距 */
}

.footer-link  {
    text-decoration: none;
    color: white; 
}

.footer-link:hover {
    color: var(--link-hover-color);;
    text-decoration: underline;
}

.copy-right-container {
    max-width: 100%;
}

.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.copyright-text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

/* 響應式 */
/* 使用媒体查询调整字体大小和容器宽度 */
@media (max-width: 1400px) {
    .container {
        padding: 0 10px;
    }

    .left-side iframe {
        width: 100%; /* 确保 iframe 在小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer-menu li {
        margin: 0 10px; /* 设置列表项间距 */
    }

    h1.contact-us-title {
        font-size: 2rem; /* 调整字体大小 */
        margin-bottom: 20px; /* 添加下外边距 */
    }

    .footer-link {
        font-size: 0.9rem; /* 调整字体大小 */
    }

    .footer-icons i {
        font-size: 0.9rem; /* 调整图标大小 */
    }
}

@media screen and (max-width: 991px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .left-side iframe {
        max-width: 100%; /* 确保 iframe 在小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer .col-lg-2,
    .footer .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-menu li {
        margin: 0 40px; /* 设置列表项间距 */
    }

    .footer .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left-side iframe {
        width: 400px;
        height: 200px; /* 根据需要调整这个值 */
    }

    .white-logo-image {
        max-width: 70%; /* 确保在小屏幕上缩小 */
    }

    h1.contact-us-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .footer-link {
        font-size: 1rem; /* 再次调整字体大小 */
    }

    .footer-icons i {
        font-size: 1rem; /* 再次调整图标大小 */
    }

    .footer_icons {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer_icons p {
        margin: 0;
    }
}
  
@media screen and (max-width: 768px) {
    .footer .col-lg-2,
    .footer .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .left-side, .right-side, .middle {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    h1.contact-us-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .footer-link {
        font-size: 1rem;
    }

    .footer-icons i {
        font-size: 1rem;
    }

    .footer-menu {
        flex-direction: row;
        align-items: center;
    }

    .footer_icons {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer-menu li {
        margin: 0px 20px;
        }
}

@media (max-width: 576px) {
    .left-side iframe {
        max-width: 100%; /* 确保 iframe 在超小屏幕上占满宽度 */
        height: auto; /* 确保高度自动调整 */
    }

    .footer_icons {
        justify-content: center;
    }

    .footer-menu {
        flex-direction: row;
        align-items: center;
    }

    .footer-menu li {
        margin: 30px 10px;
    }
}
